* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'open-sans';
    src:url(fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'roboto';
    src:url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'roboto-slab';
    src:url(fonts/Roboto-Slab.ttf)
}

body {
    background-color: #F5F5F7;
}

header {
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 50;
    overflow: hidden;
    position: fixed;
    transition: background-color 0.3s ease; /* Transição suave */
}

header.scrolled {
    background-color: #F5F5F7; /* Fundo branco ao fazer scroll */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra, opcional */
}

header li{
    display: inline-block;
}

header li button {
    font-size: 130%;
    text-decoration: none;
    color: #000;
    font-family: 'antic didone';
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    display: flex;
}

.navbar {
    width: 100%;
    height: 55px;
    max-width: 1750px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */

}

.left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 180px;
    height: 40px;
    background-image: url(img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#carrinho {
    width: 30px;
    height: 30px;
    background-image: url(img/carrinho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.container a {
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 300px;
    background-image: url(img/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo-banner {
    font-family: 'roboto-bold';
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin-left: 200px;
    margin-top: 120px;
}

.promo-banner {
    font-family: 'roboto';
    font-size: 15px;
    color: #fff;
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
}

#saiba-banner {
    width: 120px;
    height: 35px;
    color: #000;
    font-family: 'roboto';
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    margin-left: 200px;
    margin-top: 170px;
    cursor: pointer;
}

.destaques {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.destaques h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.space-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start; /* Alinha os cards no topo verticalmente */
    justify-content: flex-start; /* Alinha os cards à esquerda */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */

}

.card {
    width: 270px;
    height: 320px;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05); /* Aumenta a escala do card em 5% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 120px;
    height: 160px;
    position: relative;
    /* top: 45px; */
}

.card p {
    font-family: 'open-sans';
    color: #000;
}

.titulo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.favoritos {
    width: 40px;
    height: 40px;
    z-index: 10;
    border: none;
    background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    left: 100px;
}

.remover-btn {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 75%;
    background: transparent;
    background-image: url(img/x-icon.jpeg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    left: 100px;
}
