* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'open-sans';
    src:url(fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'roboto';
    src:url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'roboto-slab';
    src:url(fonts/Roboto-Slab.ttf)
}

@font-face {
    font-family: 'sf-regular';
    src:url(fonts/Sf-pro-regular.OTF)
}

body {
    background-color: #F5F5F7;
}

header {
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 50;
    overflow: hidden;
    position: fixed;
    transition: background-color 0.3s ease; /* Transição suave */
}

header.scrolled {
    background-color: #F5F5F7; /* Fundo branco ao fazer scroll */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra, opcional */
}

header li{
    display: inline-block;
}

header li button {
    font-size: 130%;
    text-decoration: none;
    color: #000;
    font-family: 'antic didone';
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    display: flex;
}

.navbar {
    width: 100%;
    height: 55px;
    max-width: 1750px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */

}

.left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 180px;
    height: 40px;
    background-image: url(img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#carrinho {
    width: 30px;
    height: 30px;
    background-image: url(img/carrinho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}

.container a {
    text-decoration: none;
}

.slider{
    width: 90%;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
   
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 90vw;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.333);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 50px;
}

:root {
    --cards: 4;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}

.Scroll_Trigger {
    width: 80%;
    margin: 2vh 10vh;
}

#slide {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

#cartao1 {
    --index: 1;
}

#cartao2 {
    --index: 2;
}

#cartao3 {
    --index: 3;
}

#cartao4 {
    --index: 4;
}

.cartao {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

#cartao1 .cartao-body {
    background-color: #52B2CF;
}

#cartao2 .cartao-body {
    /* background-color: #7EC4CF; */
    background-color: #E5A36F;
}

#cartao3 .cartao-body {
    background-color: #9CADCE;
}

#cartao4 .cartao-body {
    background-color: #D4AFB9;
}

.cartao-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.cartao-body h2 {
    font-size: 2.5em;
}

.destaques {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.destaques h1 {
    font-family:'sf-regular';
    font-size: 40px;
}

.space-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start; /* Alinha os cards no topo verticalmente */
    justify-content: flex-start; /* Alinha os cards à esquerda */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */

}

.card {
    width: 270px;
    height: 320px;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05); /* Aumenta a escala do card em 5% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 120px;
    height: 160px;
    position: relative;
    /* top: 45px; */
}

.card p {
    font-family: 'open-sans';
    color: #000;
}

.titulo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.favoritos {
    width: 40px;
    height: 40px;
    z-index: 10;
    border: none;
    background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    left: 100px;
}

.remover-btn {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 75%;
    background: transparent;
    background-image: url(img/x-icon.jpeg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    left: 100px;
}
